{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Liste de Taches</h1>
    {% if taches is not empty %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Deadline</th>
                <th>Etat</th>
                <th>Utilisateur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for tache in taches %}
                <tr>
                    <td>{{ tache.nom }}</td>
                    <td>{{ tache.deadline|date("d/m/Y") }}</td>
                    <td>{{ tache.etat }}</td>
                    <td></td>
                    <td><a class="btn btn-outline-primary" href="{{ path('une_tache',{'id':tache.id}) }}">Modifier</a>
                        <a class="btn btn-outline-danger" href="{{ path('delete_tache', {'id': tache.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>




    {% else %}
        <p>Il n'y a aucune tache</p>
    {% endif %}

    <h2>Ajouter une tache</h2>
    {{ form(form_ajout) }}
{% endblock %}
